/* src/css/Admin.css */
.admin-container {
    position: absolute; /* Để dropdown nằm trên Navbar */
    top: 5%;
    right: 0; /* Đặt nó ở bên phải của Navbar */
    transform: translateY(-50%); /* Đảm bảo dropdown nằm chính giữa theo chiều dọc */
    z-index: 50%; /* Đảm bảo dropdown nằm trên các phần tử khác */
  }
  
  #dropdown {
    margin-right: 50px;
    padding: 7px; /* Tăng kích thước padding để dễ bấm */
    font-size: 16px; /* Tăng kích thước font */
    border: 1px solid #ccc;
    border-radius: 5px; /* Bo góc */
    background-color: white; /* Đảm bảo nền của dropdown là trắng */
  }
  